* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 500px;
  width: 500px;
  border: 30px solid rgba(0,0,0, .3);
  padding: 40px;
  background: url(./img/pug.png);
  background-color: red;
  background-repeat: no-repeat;
  background-origin: padding-box;
}