* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  height: 700px;
  border: 1px solid #666;
  background: 
    url(img/pug.png) top / contain no-repeat,
    url(img/t11.png) bottom / contain no-repeat
  ;
}