* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  color: #fff;
}

.container {
  height: 2333px;
  background: url(./img/ferhat-deniz-fors-766977-unsplash.jpg);
  background-color: red;
}